
@{
    ViewBag.Title = "ViewResult";
}

<h2>View Result</h2>

ViewBag.Message : @ViewBag.Message
<br />
Redirect  message : @ViewBag.RedirMessage
<br />
Redirect temp data message : @TempData["message"]
<br />


