Udover MVC's default validering kan man bygge signe egne validatoer.


                
<br /><b>Server side - custom:</b>  <br />
 ScoreValidAttribute : <span class="glyphicon glyphicon-download file-info" data-file="ScoreValidAttribute.cs"></span>
<pre>
    public class ScoreModel {
        [ScoreValid]
        public string Hold1 { get; set;  }
    }
      
     public class ScoreValidAttribute : ValidationAttribute 
     {
        protected override ValidationResult IsValid(object value, ValidationContext vContext)
        {     
            return 1==2 ? null : new ValidationResult("1 != 2 ?");
        }   
     ...
</pre>   
@Html.ActionLink("Opret Bordfodbold score", "CreateScore", "Score") 