
@{
    ViewBag.Title = "Index3";
}


<div class="row">


    <h2>View
        <a href="javascript:toggle('#razor')" class="btn btn-primary top-btn ">Razor syntax</a>
    </h2>
    <div class="row">
        <div id="razor" class="hide">
            <h2>Razor syntax</h2>
            @Html.Action("razor", "View")
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".file-info").click(function () {

                $.get('@(Url.Action("Info", "api/File"))?file=' + $(this).data('file'), function (data) {
                    console.log(data);
                    $("#content-info").html('<pre>' + data.FileContent + '</pre>');
                });
            });
        });

        toggle = function (id) {
            $('#razor').addClass('hide');
            $(id).removeClass('hide');
        }
    </script>
}




