
<br /><b>Server side - indbygget:</b>

<table class="table-bordered table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th>attribut</th>
        <th>Beskrivelse</th>
    </tr>
    </thead>
    <tbody>
    <tr><td>CompareAttribute </td><td>Sammenlign to properties</td></tr>
    <tr><td>CustomValidationAttribute </td><td>Angiv en custom validation metode</td></tr>
    <tr><td>DataTypeAttribute </td><td>Data type - bruges ikke til validering</td></tr>
    <tr><td>MaxLengthAttribute </td><td>Max. array længde</td></tr>
    <tr><td>MinLengthAttribute </td><td>Min. arrat længde </td></tr>
    <tr><td>RangeAttribute </td><td>Numeric range  min - max </td></tr>
    <tr><td>RegularExpressionAttribute </td><td>Valider udfra requlært udtryk</td></tr>
    <tr><td>RequiredAttribute </td><td>´Property er påkrævet </td></tr>
    <tr><td>StringLengthAttribute </td><td>Min. og max. string længde</td></tr>
    </tbody>
</table>
<br/><b>Eksempel</b><br/>
<pre>
    public class ScoreModel
    {
        [Required(ErrorMessage="Hold1 er påkrævet")]
        public string Hold1 { get; set;  }
    
        [Range(0, 10, ErrorMessage = "Score skal være mellem 0 og 10")]
        public int Hold1Score { get; set; }
    }
</pre>

