
@{
    ViewBag.Title = "Index2";
}


<div class="row">
    <h2>Model:
    <a href="javascript:toggle('#binding')" class="btn btn-primary top-btn ">Binding</a>
    <a href="javascript:toggle('#validate')" class="btn btn-primary top-btn  ">Validering</a>
    </h2>

</div>
<div class="row">
   
        <div id="binding" class="hide">
            <h2>Binding</h2>
            @Html.Action("Binding", "Model")
        </div>
        <div id="validate" class="hide">
            <h2>Validering</h2>
            @Html.Action("Validering", "Model")
        </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".file-info").click(function () {

                $.get('@(Url.Action("Info", "api/File"))?file=' + $(this).data('file'), function (data) {
                    console.log(data);
                    $("#content-info").html('<pre>' + data.FileContent + '</pre>');
                });
            });
        });

        toggle = function (id) {
            $('#validate').addClass('hide');
            $('#binding').addClass('hide');
            $(id).removeClass('hide');
        }
    </script>
}




